@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;600&display=swap');
:root{

    /* Palette de couleurs */
    --colorLight: #E1ECF3;
    --colorDark: #060609;
    --colorMain: #F98E2C;
    --colorComp: #77aebe;
    --colorNeutralL: #5c5b58;

    --colorCover: #150d0df8;
    --colorSuccess: #0c3d16;
    --colorError: #fa1b1b;
    
    /* Police */
    --typeText: 'Jura', sans-serif;
    --typeHead: 'Trispace', sans-serif;
    --typeLyric: 'Assistant', monospace;

    /* Taille de polices */
    --fontxxs: clamp(12px, 1.5vw, 14px);
    --fontText: clamp(16px, 1.75vw, 20px);
    --fontxs: clamp(18px, 2.25vw, 22px);
    --fonts: clamp(20px, 3vw, 28px);
    --fontm: clamp(24px, 3.75vw, 32px);
    --fontl: clamp(32px, 4.75vw, 40px);
    --fontxl: clamp(38px, 6vw, 54px);
    --fontxxl: clamp(50px, 7.5vw, 66px);
    --fontHuge: clamp(60px, 9.25vw, 96px);
    --fontHuger: clamp(72px, 11.5vw, 120px);

    /* Taille de police statique*/
    --fontSText: 16px;
    --fontSxs: 20px;
    --fontSs: 22px;

    /* Espacement */
    --gapTHxxs: clamp(3px, .5vw, 5px);
    --gapSafe: 6px;
    --gapxxs: clamp(4px, 1vw, 8px);
    --gapxs: clamp(8px, 1.5vw, 14px);
    --gaps: clamp(12px, 1.75vw, 16px);
    --gapm: clamp(16px, 2.5vw, 24px);
    --gapl: clamp(24px, 3.5vw, 32px);
    --gapxl: clamp(32px, 5vw, 48px);
    --gapxxl: clamp(48px, 8vw, 96px);
    --gapHuge: clamp(84px, 10vw, 120px);

    --borderStd: 1px solid var(--colorMain);
}